{% block tools %}
        <div id="tools-page" class="page">
            <div class="h1 text-center">And some tools</div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">

        {#            <div class="col mb-4">#}
        {#				<div class="card">#}
        {#					<img src="https://raw.githubusercontent.com/kanboard/kanboard/master/assets/img/icon.svg" class="card-img-top" alt="...">#}
        {#					<div class="card-body">#}
        {#						<h5 class="card-title">Kanban</h5>#}
        {#						<h6 class="card-subtitle mb-2 text-muted">My kanban board</h6>#}
        {#						<p class="card-text">My kanban page, so I can actually do some work. <a href="https://kanboard.org">Kanboard</a> running on docker</p>#}
        {#					</div>#}
        {#                    <div class="card-footer">#}
        {#                        <a href="https://kanban.jstanek.eu" target="_blank" class="btn btn-primary">Open</a>#}
        {#                    </div>#}
        {#				</div>#}
        {#            </div>#}

                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-header">
                                Password Generator
                            </div>
                            <div class="card-body">
                                <script>
                                    function getPassword(){
                                        new Api('/tools/password')
                                            .getPassword(
                                                document.getElementById('passwordLength').value,
                                                document.getElementById('passwordSubsetLowercase').checked,
                                                document.getElementById('passwordSubsetUppercase').checked,
                                                document.getElementById('passwordSubsetNumbers').checked,
                                                document.getElementById('passwordSubsetSymbols').checked,
                                                document.getElementById('passwordOutput')
                                            );
                                    }
                                </script>
                                <div class="w-100 mb-3">
                                    <label for="passwordLength">Password length</label>
                                    <input class="form-control" type="number" max="4096" id="passwordLength" value="16" onkeyup="getPassword()">
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="passwordSubsetUppercase" onchange="getPassword()">
                                    <label class="form-check-label" for="passwordSubsetUppercase">Uppercase letters [A-Z]</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="passwordSubsetLowercase" onchange="getPassword()">
                                    <label class="form-check-label" for="passwordSubsetLowercase">Lowercase letters [a-z]</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="passwordSubsetNumbers" onchange="getPassword()">
                                    <label class="form-check-label" for="passwordSubsetNumbers">Numbers [0-9]</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="passwordSubsetSymbols" onchange="getPassword()">
                                    <label class="form-check-label" for="passwordSubsetSymbols">Special characters [$#/{}...]</label>
                                </div>
                                <div class="w-100 mb-3">
                                    <label for="passwordOutput">Password</label>
                                    <textarea class="form-control" rows="4" id="passwordOutput"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-header">
                                Hashing tool
                            </div>
                            <div class="card-body">
                                <script>
                                    function getHash() {
                                        new Api('/tools/hash')
                                            .getHash(
                                                document.getElementById('hashAlgSelect').options[document.getElementById('hashAlgSelect').selectedIndex].value,
                                                document.getElementById('hashInput').value,document.getElementById('hashOutput')
                                            )
                                    }
                                </script>
                                <div class="w-100 mb-3">
                                    <label for="hashInput">Input to hash</label>
                                    <input type="text" class="form-control" id="hashInput" onkeyup="getHash()">
                                </div>
                                <div class="w-100 mb-3">
                                    <label for="hashAlgSelect">Hashing algorithm</label>
                                    <select id="hashAlgSelect" class="form-control" onchange="getHash()">
                                        <option value="sha-512">sha-512</option>
                                        <option value="sha-256">sha-256</option>
                                        <option value="sha1">sha1</option>
                                        <option value="md5">md5</option>
                                    </select>
                                </div>
                                <div class="w-100 mb-3">
                                    <textarea rows="5" id="hashOutput" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-header">
                                Base64
                            </div>
                            <div class="card-body">
                              <div class="w-100 mb-3">
                                  <label for="base64EncodeInput" class="form-label">Encode</label>
                                <input id="base64EncodeInput" class="form-control" type="text" onkeyup="new Api('/tools/base64').getBase64(this.value, 'encode', document.getElementById('base64EncodeOutput'))" />
                              </div>
                              <div class="w-100 mb-3">
                                <textarea id="base64EncodeOutput" class="form-control"></textarea>
                              </div>

                              <div class="w-100 mb-3">
                                  <label for="base64DecodeInput" class="form-label">Decode</label>
                                  <input id="base64DecodeInput" class="form-control" type="text" onkeyup="new Api('/tools/base64').getBase64(this.value, 'decode', document.getElementById('base64DecodeOutput'))" />
                              </div>
                                 <div class="w-100 mb-3">
                                <textarea class="form-control" id="base64DecodeOutput"></textarea>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-header">
                                MongoDB _id tool
                            </div>
                            <div class="card-body">
                                <script>
                                    function getMongoDbId(){
                                        new Api('/tools/mongo').getMongoId(document.getElementById('mongoDbIdInput').value, document.getElementById('mongoDbIdOutput'))
                                    }
                                </script>
                              <div class="w-100 mb-3">
                                  <label for="mongoDbIdInput" class="form-label">_id</label>
                                  <input id="mongoDbIdInput" class="form-control" type="text" onkeyup="getMongoDbId()" />
                              </div>
                              <div class="w-100 mb-3">
                                  <label for="mongoDbIdOutput" class="form-label">Timestamp</label>
                                  <input type="text" class="form-control" id="mongoDbIdOutput" >
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock tools %}