{% extends "layout.jinja2" %}
{% block home %}
	<div>

		{% block me %}
			{% include "me.jinja2" %}
		{% endblock me %}

		<div class="separator"></div>

		{% block tools %}
			{% include "tools.jinja2" %}
		{% endblock tools %}

        {% block donations %}
            {% include "donations.jinja2" %}
        {% endblock %}

	</div>
{% endblock home %}
