{% extends "layout.jinja2" %}
{% block home %}
	<div >

            {% block me %}
                {% include "me.jinja2" %}
            {% endblock me %}
			<div class="separator"></div>
            {% block projects %}
                {% include "projects.jinja2" %}
            {% endblock projects %}

            {% block tools %}
                {% include "tools.jinja2" %}
            {% endblock tools %}


	</div>
{% endblock home %}
