<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jaroslav Staněk's personal web page">
    <meta name="author" content="Jaroslav Staněk">
{#    <link rel="shortcut icon" href="static/pyramid-16x16.png">#}

    <title>Jaroslav Staněk's personal page</title>

    <!-- Bootstrap core CSS -->
{#    <link href="static/css/bootstrap/4.4.1/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="static/css/bootstrap/4.4.1/bootstrap-grid.min.css" rel="stylesheet">#}
{#    <link href="static/css/bootstrap/4.4.1/bootstrap-reboot.min.css" rel="stylesheet">#}

    <link href="static/css/bootstrap/5.0.0a/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap/5.0.0a/bootstrap-grid.min.css" rel="stylesheet">
    <link href="static/css/bootstrap/5.0.0a/bootstrap-reboot.min.css" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="static/css/theme.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script href="static/js/html5shiv/3.7.3/html5shiv.min.js"></script>
	    <script href="static/js/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target="#navbar" data-offset="50">

    {% block navigation %}
        {% include "navigation.jinja2" %}
    {% endblock navigation %}


    {% block home %}
	{% endblock home %}

    <div class="footer text-center">
        <span>created with
            <a href="https://www.python.org/">Python</a>,
            <a href="https://trypyramid.com/">Pyramid Framework</a>
            <a href="https://getbootstrap.com">Twitter Bootstrap</a>
            and some of my flavours
        </span>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="static/js/api.js"></script>
	<script src="static/js/jquery/3.4.1/jquery.min.js"></script>
	<script src="static/js/bootstrap/5.0.0a/bootstrap.min.js"></script>
  </body>
</html>
