{% block me %}
        <div id="me-page" class="page w-100">
            <div class="d-flex h-100 justify-content-center">
				<div class="col-4">
					<img class="border-0 rounded-circle img-thumbnail" src="../static/img/DSC_7787upBW_closeup.jpg">
				</div>
                <div class="col-6 align-self-center">
                    <div class="me-page-header p-3">
                        <div class="display-1">Hello there!</div>
						<div class="display-3 text-center">It's me, <b>Jaroslav Staněk</b></div>
						<p>Let me quickly introduce myself. Born in 1989, I started 'working' with pc since I was a little boy.
							My first encounter was Commodore 64 and Amiga (about '93) and then straight to PCs (starting by 286).
							4 Years of High School, 3 years of University (both specialized on networking) and endless hours of staying up late.
							Currently developing for private company but trying to do my own stuff.
						</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock me %}